*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

/* utils */
.main-wrapper {
  width: 100%;
  max-width: 1377px;
  margin-inline: auto;
}

.header-menu-group {
  display: flex;
}

.icon-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  background: none;
  border: none;
}

.icon-button:hover {
  background-color: #f5f5f5;
}

.icon-button svg {
  width: 2rem;
  height: auto;
  color: #000;
}

.primary-nav {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  list-style: none;
}

.primary-nav a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.primary-nav li {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.primary-nav li:hover {
  background-color: #f5f5f5;
}

.primary-logo {
  width: 104px;
  height: auto;
  color: #000;
}

.header-action-group {
  display: flex;

  gap: 1rem;
  padding: 1rem;
}

.top-banner {
  display: flex;
  background-color: #000;
  color: #fff;
  justify-content: flex-end;
  gap: 20px;
  padding: 15px;
}

.exit-btn {
  display: flex;
  margin-left: auto;
  border: none;
  color: #fff;
  background: #000;
  font-size: 20px;
}

.top-banner div {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.top-banner p {
  margin-right: 30px;
}

.hero {
  display: flex;
  align-items: center;
  height: 500px;
  position: relative;
}

.hero-image {
  background-image: url("img/hero-big-background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.primary-btn {
  padding: 1rem;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

.secondary-btn {
  padding: 1rem;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #fff;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.feature-wrapper {
  display: flex;
  column-gap: 1.125rem;
  padding-block: 2rem;
}

.feature {
  padding: 1.5rem;
  background-color: #f5f5f5;
  cursor: pointer;
}

.feature:hover {
  background-color: #d7d7d7;
}

.feature svg {
  width: 20px;
}

.feature div {
  display: flex;
  column-gap: 0.25rem;
}

.feature a {
  text-decoration: none;
  color: #000;
}

.feature > p {
  color: #616161;
}

footer img,
svg {
  width: 40px;
}
